In [1]:
import numpy as np
import pandas as pd

In [2]:
from pandas import Series, DataFrame

In [5]:
series=Series(np.arange(5),index=['row1','row2','row3','row4','row5'])

In [6]:
series

row1    0
row2    1
row3    2
row4    3
row5    4
dtype: int64

In [7]:
series['row3']

2

In [8]:
series[[2,4]]

row3    2
row5    4
dtype: int64

In [9]:
np.random.seed(25)

In [15]:
df= DataFrame(np.random.rand(36).reshape(6,6),index=['row1','row2','row3','row4','row5','row6'],columns=['c1','c2','c3','c4','c5','c6'])

In [16]:
df.head()

            c1        c2        c3        c4        c5        c6
row1  0.590885  0.163652  0.836928  0.775203  0.169041  0.766994
row2  0.335366  0.472398  0.215064  0.912094  0.759208  0.676561
row3  0.021376  0.660874  0.094440  0.831163  0.112749  0.566830
row4  0.174626  0.790607  0.033683  0.795971  0.689437  0.491846
row5  0.088554  0.937550  0.084362  0.469394  0.805613  0.085646

In [23]:
df.loc[['row1','row6'],['c1','c5']]

            c1        c5
row1  0.590885  0.169041
row6  0.244380  0.253044

In [24]:
df.iloc[:3]

            c1        c2        c3        c4        c5        c6
row1  0.590885  0.163652  0.836928  0.775203  0.169041  0.766994
row2  0.335366  0.472398  0.215064  0.912094  0.759208  0.676561
row3  0.021376  0.660874  0.094440  0.831163  0.112749  0.566830

In [27]:
df.loc[:'row2',:'c5']

            c1        c2        c3        c4        c5
row1  0.590885  0.163652  0.836928  0.775203  0.169041
row2  0.335366  0.472398  0.215064  0.912094  0.759208

In [28]:
df<0.3

         c1     c2     c3     c4     c5     c6
row1  False   True  False  False   True  False
row2  False  False   True  False  False  False
row3   True  False   True  False   True  False
row4   True  False   True  False  False  False
row5   True  False   True  False  False   True
row6   True  False  False   True   True  False

In [29]:
df[df<0.3]

            c1        c2        c3        c4        c5        c6
row1       NaN  0.163652       NaN       NaN  0.169041       NaN
row2       NaN       NaN  0.215064       NaN       NaN       NaN
row3  0.021376       NaN  0.094440       NaN  0.112749       NaN
row4  0.174626       NaN  0.033683       NaN       NaN       NaN
row5  0.088554       NaN  0.084362       NaN       NaN  0.085646
row6  0.244380       NaN       NaN  0.190401  0.253044       NaN